#tblUsers.tblResponsive .row.title
{
  display : none;
}

#tblUsers.tblResponsive .row
{
  display: block; 
  border-bottom : 1px solid white;
}

#tblUsers.tblResponsive .row .col
{
  display: inline-block;
  width : 49%;
  text-align: center;
  padding : 10px 0 10px 0;
}

#tblUsers.tblResponsive .row .col:first-child
{
  border-right: 1px solid white;
}

#tblUsers.tblResponsive .col.User
{
  width : 100%;
  display: block;
  text-align: center;
  background-color : rgba( 0, 200, 90, .6 );
  font-weight : bold;
}