#tblUsers.tblResponsive tr
{
  display: block; 
  border-bottom : 1px solid white;
}

#tblUsers.tblResponsive tr td
{
  display: inline-block;
  width : 49%;
  text-align: center;
  padding : 10px 0 10px 0;
}

#tblUsers.tblResponsive tr td:first-child
{
  border-right: 1px solid white;
}

#tblUsers.tblResponsive .row.User td
{
  width : 100%;
  display: block;
  text-align: center;
  background-color : rgba( 0, 200, 90, .6 );
  font-weight : bold;
}